.root {
    composes: border-t-2 from global;
    composes: border-solid from global;
    composes: border-light from global;
    composes: gap-y-16 from global;
    composes: grid from global;
    composes: leading-normal from global;
    composes: min-h-[15rem] from global;
    composes: mx-auto from global;
    composes: my-0 from global;
    composes: pt-16 from global;
    composes: text-sm from global;
    composes: text-subtle from global;
    composes: w-full from global;
    background-image: url("public/footer-background.png");
    -moz-background-image: url("public/footer-background.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
}

.copyright {
    composes: w-full from global;
    composes: grid from global;
    composes: max-w-site from global;
    composes: justify-center from global;
    color: #fff;
    padding-bottom:50px;
}

.footerContainer {
    composes: max-w-site from global;
    composes: w-full from global;
    composes: mx-auto from global;
}

.footerLinks{
    composes: w-full from global;
    composes: grid from global;
}

.footerLinks ul{
    padding-left: 0px;
}

.footerLinks ul li{
    list-style: none;
}

.footerLinks ul li a{
    color: #fff;
    text-decoration: none;
}


